<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520377025072-s1jbt8ktb8jr39qtrk0tofr6mk6caa86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520377025072-s1jbt8ktb8jr39qtrk0tofr6mk6caa86</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>520377025072-g6udokh9v1p1el21lpgrcaluf6f57uu0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDab0C8gkNAYVQ9IrqFmhjQJzMsectObC0</string>
	<key>GCM_SENDER_ID</key>
	<string>520377025072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whoapp.chat</string>
	<key>PROJECT_ID</key>
	<string>wisschat-1907a</string>
	<key>STORAGE_BUCKET</key>
	<string>wisschat-1907a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520377025072:ios:10081a7fcd1d7c8188a3f5</string>
</dict>
</plist>