<ion-content id="video-room-content" [scrollY]="false" [scrollX]="false">

  <div class="profile_div" align="center">
    <div class="coin_div" align="center">
      <h3>
        <img src="assets/imgs/coins.webp" alt="" class="coin_img">
        <span>
          {{preference.currentUser.user_type == 'employee' ? 0 : preference.currentUser.coins}}
        </span>
      </h3>
    </div>

    <div class="search_div">
      <ion-row>
        <ion-col size="8" align="left">
          <div *ngIf="!userData">
            <ion-icon name="help"></ion-icon>
            <p class="ion-no-margin">{{'searching' | translate}}...</p>
          </div>

          <div *ngIf="userData">
            <ion-item class="ion-no-padding" lines="none">
              <ion-avatar slot="start">
                <img [src]="userData?.profile_img.includes('http') ? userData?.profile_img : preference.image_url + userData?.profile_img" alt="">
              </ion-avatar>
              <div>
                <h4 class="ion-no-margin">{{userData?.name}}</h4>
                <h5 class="ion-no-margin">
                  <img [src]="userData?.flag_url" alt="">
                  {{userData?.countries_name}}
                </h5>
              </div>
            </ion-item>
          </div>
        </ion-col>

        <ion-col size="4" align="right">
          <ion-button fill="clear" size="small" color="light" (click)="endPage()">
            <ion-icon name="exit"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
